{{- if not .Values.mysql.existingSecret -}}
{{- $root_password := randAlphaNum 10 -}}
{{- $password := randAlphaNum 10 -}}
{{- $db_password := default $password .Values.mysql.db_password -}}
{{- $db_root_password := default $root_password .Values.mysql.root_password -}}
{{- if or (not .Values.mysql.db_user) (eq .Values.mysql.db_user "root") }}
{{- $db_password = $db_root_password -}}
{{- end -}}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "kubevious-mysql.fullname" . }}-secret
  labels:
    app.kubernetes.io/component: {{ include "kubevious-mysql.fullname" . }}
    {{- include "kubevious.labels" . | nindent 4 }}
type: Opaque
data:
  MYSQL_PASS: {{ $db_password | b64enc | quote }}
  MYSQL_ROOT_PASSWORD: {{ $db_root_password | b64enc | quote }}
{{- end -}}